In [2]:
import pandas as pd
import numpy as np

In [8]:
# file = "ZC_20171218_" + "H95_R2" + ".mgf.csv"
file = "result.csv"

In [9]:
df = pd.read_csv(file)
df.head()

,scan,peptide,glycan,site,score
0,342,NLTYVGDGETRLKYYNK,GlcNAc-7 Man-3 Gal-2 NeuAc-2,0,1.35188
1,691,DNLTYVGDGETR,GlcNAc-9 Man-3 Gal-4 NeuAc-1,1,1.11225
2,5062,GVYLTLTPAIDKATANESHNLFLNKATTLLWQE,GlcNAc-7 Man-3 Gal-5 Fuc-3 NeuAc-2,15,1.00365
3,6935,ENNLTYVGDGETRLK,GlcNAc-7 Man-3 Gal-2 Fuc-1 NeuAc-1,2,1.16868
4,9331,ENNLTYVGDGETRLKYYNK,GlcNAc-6 Man-3 Fuc-1,2,1.84697

In [10]:
sorted(df.score)

[0.920528,
 0.9275059999999999,
 0.9366329999999999,
 0.95036,
 0.951341,
 1.00365,
 1.0391700000000001,
 1.0479100000000001,
 1.05195,
 1.0543799999999999,
 1.08181,
 1.08486,
 1.11225,
 1.16868,
 1.18585,
 1.2269299999999999,
 1.35188,
 1.39437,
 1.42612,
 1.49643,
 1.53851,
 1.55741,
 1.62381,
 1.66582,
 1.83237,
 1.8469099999999998,
 1.84697,
 1.89368,
 2.00165,
 2.02778,
 2.0842400000000003,
 2.1167599999999998,
 2.22008,
 2.24147,
 2.38972,
 2.67417,
 2.68696,
 3.2393,
 3.34891,
 3.4125900000000002,
 3.6743900000000003,
 3.734,
 4.8929599999999995]

In [12]:
df[df.score == 3.734]

,scan,peptide,glycan,site,score
30,12224,DNLTYVGDGETRLKYYNK,GlcNAc-11 Man-3 Gal-6 Fuc-2 NeuAc-1,1,3.734